<!DOCTYPE HTML>
<html>
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<title>Bookworm</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	</head>

	<body>
		<div class="container">
			<header> 
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand">Bookworm</a>
						</div>
					</div>
				</nav>
			</header>
			
			<div class="col-sm-4" style="border-right: double">
				<form action method="get">
					<div class="form-group">
						<label for="author">Author:</label>
						<input type="text" value="<%= query.author %>" class="form-control" name="author" id="author">
					</div>

					<div class="form-group">
						<label for="title">Title:</label>
						<input type="text" value="<%= query.title %>" class="form-control" id="title" name="title">
					</div>

					<div class="form-group">
						<label for="quantidade">Publisher:</label>
						<input type="text" value="<%= query.publisher %>" class="form-control" id="publisher" name="publisher">
					</div>

					<div class="form-group">
						<label for="quantidade">ISBN:</label>
						<input type="text" value="<%= query.isbn %>" class="form-control" id="isbn" name="isbn">
					</div>

					<div class="form-group">
						<label for="other">Price:</label>
						<select class="form-control" id="price" name="price">
							<%
							var options = [ "(40, 80]", "(80, 120]", "(120, 160]", "(160, 200]", "(200, ]"];
							for ( var i = 0; i < options.length; i++ )
							{
							    var selected = ( query.price == options[i] ) ? "selected" : "";
							    %><option value="<%=options[ i ] %>" <%=selected %>><%=options[i] %></option><%
							}
							%>
						</select>						
					</div>

					<div class="form-group">
						<label for="other">Other:</label>
						<input type="text" value="<%= query.other %>" class="form-control" id="other" name="other">
					</div>

					<div class="form-group">
						<input type="submit" style="float:right" value="Search" class="btn btn-success">
					</div>
				</form>
			</div>

			<div class="col-sm-8">
				<% if(renderResultTable) {%>
					 <% include ../partials/results %>
				<% } %>
			</div>
		</div>		
	</body>
</html>